*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:target {
  scroll-padding-top: var(--header-height, 3rem);
}

html {
  hanging-punctuation: first last;
}

body {
  min-height: 100svh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, svg, canvas, video {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p, li {
  max-width: var(--max-text-width, 75ch);
  text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }
}

.content-grid {
  display: grid;
  grid-template-columns:
    [full-width-start]
    minmax(var(--content-padding), 1fr)
    [content-start]
    min(calc(var(--max-content-width) - (var(--content-padding) * 2)))
    [content-end]
    minmax(var(--content-padding), 1fr) 
    [full-width-end];
}

.content-grid > :not(.full-width),
.full-width > :not(.full-width) {
  grid-column: content;
}

.content-grid > .full-width,
.full-width > .full-width {
  grid-column: full-width;
  display: grid;
  grid-template-columns: inherit;
}
